.item-common-styles {
  width: 625.6px;
  height: 106px;
  border-radius: 1em;
  cursor: pointer;

  display: flex;
  align-content: center;
  justify-content: center;
  transition: width 0.1s, height 0.1s;
}

@mixin item-hover-effect {
  &:hover {
    width: 640px;
    height: 110px;
    transform: translateX(-0.1.8%);
  }
}

.to-do-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 640px;
  justify-content: center;
  align-items: center;

  h1 {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .field {
    width: 624px;
    height: 74px;
    background-color: #ffffff;
    border-radius: 1em;
    border: solid 1.6px #d9d9d9;

    display: flex;
    align-items: center;

    input {
      width: 560px;
      border: transparent;
      outline: none;
      font-size: 24px;
      margin-left: 25px;
    }

    &:focus-within {
      border: solid 1.6px #6034e4;
    }
  }

  .to-do-items-wrapper {
    width: 640px;
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .to-do-item-wrapper {
      margin-top: 20px;
      width: 640px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .to-do-item {
      @extend .item-common-styles;
      background-color: #6034e4;

      &:hover {
        @include item-hover-effect;
      }
    }

    .to-do-item-completed {
      @extend .item-common-styles;
      background-color: #c7b5ff;

      text-decoration-line: line-through;
      text-decoration-color: white;

      &:hover {
        @include item-hover-effect;
      }
    }

    .to-do-item-flex {
      display: flex;
      flex-direction: row;
      align-items: center;

      h2 {
        width: 536px;
        color: white;
        margin-right: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .trash-icon:hover g path {
        stroke: #fca0ff;
        transition: all 0ms ease-in-out;
      }

      .trash-icon:hover g line {
        stroke: #fca0ff;
        transition: all 0ms ease-in-out;
      }

      .trash-icon:hover g polyline {
        stroke: #fca0ff;
        transition: all 0ms ease-in-out;
      }
    }
  }

  .h1-add-new-item {
    margin-top: 60px;
  }
}

@media (max-width: 3850px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 1200px;
    }
  }
}

@media (max-width: 2550px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 650px;
    }
  }
}

@media (max-width: 1930px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 500px;
    }
  }
}

@media (max-width: 1660px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 400px;
    }
  }
}

@media (max-width: 1530px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 350px;
    }
  }
}

@media (max-width: 1280px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 250px;
    }
  }
}

@media (max-width: 1100px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 120px;
    }
  }
}

@media (max-width: 850px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 115px;
    }

    .h1-add-new-item {
      margin-top: 0px;
    }

    h1 {
      margin-top: -10px;
    }
  }
}

@mixin item-hover-effect-640px {
  &:hover {
    width: 626px;
    height: 50px;
    transform: translateX(0%);
  }
}

@media (max-width: 640px) {
  .to-do-list-wrapper {
    .to-do-items-wrapper {
      height: 60px;
    }

    .h1-add-new-item {
      margin-top: 0px;
    }

    h1 {
      margin-top: -10px;
    }
    .to-do-items-wrapper {
      .to-do-item {
        height: 50px;
        transition: width 0s, height 0s;

        &:hover {
          @include item-hover-effect-640px;
        }
      }
    }
  }
}
